@{
    ViewData["Title"] = "Checkout";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.5.2/css/bootstrap.min.css" />
</head>
<body>
    <div class="container" style="display:flex; justify-content:center; align-content:center">
        <form method="post" asp-controller="Home" asp-action="Privacy">
            <button type="submit" class="btn btn-primary">Continue to Checkout</button>
        </form>
    </div>
</body>
</html>
